<html>
  <head>
    <script src="/static/js/p5.min.js"></script>
   
  </head>
  <body>
    <main>
        <script>
var img;
let particles = [];
let fps;
let draw_count = 0;
let n = 0 ;
let log_n = [];
let tint_count = 5.0;
let gameStarted = true;
var change_img_status = false;
var max_count = 1000;
var res = 5;
var noise_value = 0.01;
var seed = 1;

var DEFAULT_SIZE = 1000
var WIDTH = window.innerWidth
var HEIGHT = window.innerHeight
var DIM = Math.min(WIDTH, HEIGHT)
var M = DIM / DEFAULT_SIZE



function genTokenData(projectNum) {
  let data = {};
  let hash = "0x";
  for (var i = 0; i < 64; i++) {
    hash += Math.floor(Math.random() * 16).toString(16);
  }
  data.hash = hash;
  data.tokenId = (projectNum * 1000000 + Math.floor(Math.random() * 1000)).toString();
  return data;
}

class Random {
  constructor() {
    this.useA = false;
    let sfc32 = function (uint128Hex) {
      let a = parseInt(uint128Hex.substr(0, 8), 16);
      let b = parseInt(uint128Hex.substr(8, 8), 16);
      let c = parseInt(uint128Hex.substr(16, 8), 16);
      let d = parseInt(uint128Hex.substr(24, 8), 16);
      return function () {
        a |= 0; b |= 0; c |= 0; d |= 0;
        let t = (((a + b) | 0) + d) | 0;
        d = (d + 1) | 0;
        a = b ^ (b >>> 9);
        b = (c + (c << 3)) | 0;
        c = (c << 21) | (c >>> 11);
        c = (c + t) | 0;
        return (t >>> 0) / 4294967296;
      };
    };
    // seed prngA with first half of tokenData.hash
    this.prngA = new sfc32(tokenData.hash.substr(2, 32));
    // seed prngB with second half of tokenData.hash
    this.prngB = new sfc32(tokenData.hash.substr(34, 32));
    for (let i = 0; i < 1e6; i += 2) {
      this.prngA();
      this.prngB();
    }
  }
  // random number between 0 (inclusive) and 1 (exclusive)
  random_dec() {
    this.useA = !this.useA;
    return this.useA ? this.prngA() : this.prngB();
  }
  // random number between a (inclusive) and b (exclusive)
  random_num(a, b) {
    return a + (b - a) * this.random_dec();
  }
  // random integer between a (inclusive) and b (inclusive)
  // requires a < b for proper probability distribution
  random_int(a, b) {
    return Math.floor(this.random_num(a, b + 1));
  }
  // random boolean with p as percent liklihood of true
  random_bool(p) {
    return this.random_dec() < p;
  }
  // random value in an array of items
  random_choice(list) {
    return list[this.random_int(0, list.length - 1)];
  }
}
let tokenData = genTokenData(1);
let R = new Random();


//function preload() {
//  img = loadImage("static/assets/qs/qs{{index_name}}.jpg");
//  img_t = loadImage("static/assets/qt/qt{{index_name}}.jpg");
//}

//function setup() {
//  noCanvas();
//  cvn = createCanvas(img.width, img.height);
//  noiseSeed(seed);
  
//}

function setup() {
  createCanvas(1500, HEIGHT)
  img = createImage(1500, DEFAULT_SIZE)
}

function changeHue(rgb, degree) {
    var hsl = rgbToHSL(rgb);
    hsl.h += degree;
    if (hsl.h > 360) {
        hsl.h -= 360;
    }
    else if (hsl.h < 0) {
        hsl.h += 360;
    }
    return hslToRGB(hsl);
}

// exepcts a string and returns an object
function rgbToHSL(rgb) {

    var r = rgb[0] / 255,
        g = rgb[1] / 255,
        b = rgb[2] / 255,
        cMax = Math.max(r, g, b),
        cMin = Math.min(r, g, b),
        delta = cMax - cMin,
        l = (cMax + cMin) / 2,
        h = 0,
        s = 0;

    if (delta == 0) {
        h = 0;
    }
    else if (cMax == r) {
        h = 60 * (((g - b) / delta) % 6);
    }
    else if (cMax == g) {
        h = 60 * (((b - r) / delta) + 2);
    }
    else {
        h = 60 * (((r - g) / delta) + 4);
    }

    if (delta == 0) {
        s = 0;
    }
    else {
        s = (delta/(1-Math.abs(2*l - 1)))
    }

    return {
        h: h,
        s: s,
        l: l
    }
}

// expects an object and returns a string
function hslToRGB(hsl) {
    var h = hsl.h,
        s = hsl.s,
        l = hsl.l,
        c = (1 - Math.abs(2*l - 1)) * s,
        x = c * ( 1 - Math.abs((h / 60 ) % 2 - 1 )),
        m = l - c/ 2,
        r, g, b;

    if (h < 60) {
        r = c;
        g = x;
        b = 0;
    }
    else if (h < 120) {
        r = x;
        g = c;
        b = 0;
    }
    else if (h < 180) {
        r = 0;
        g = c;
        b = x;
    }
    else if (h < 240) {
        r = 0;
        g = x;
        b = c;
    }
    else if (h < 300) {
        r = x;
        g = 0;
        b = c;
    }
    else {
        r = c;
        g = 0;
        b = x;
    }

    r = normalize_rgb_value(r, m);
    g = normalize_rgb_value(g, m);
    b = normalize_rgb_value(b, m);

    return [r,g,b,255];
}

function normalize_rgb_value(color, m) {
    color = Math.floor((color + m) * 255);
    if (color < 0) {
        color = 0;
    }
    return color;
}



function draw() {





  console.log(draw_count);
  if(draw_count === 0){

    //cvn = createCanvas(img.width, img.height);
    placeParticles();
    console.log(particles.length)
    noLoop();
  }  

  if(draw_count  == max_count + 50){
    //noLoop();
    //change_img_status = !change_img_status;
    //draw_count = -1;
    //particles = [];
    //background(img,0,0);
    
  }

  //console.log(draw_count);
  //console.log(max_count);
  if (draw_count > max_count+50 ) {
    
    noLoop(); 
  }

  if (draw_count > max_count - 20 ){
      tint(255,tint_count);
      image(img,0,0);
      tint_count = tint_count + 0.1 ;    

  }
  draw_count ++;
}

function get_y_value(){
  let x = R.random_int(10, 1000);
  let offset = R.random_int(200, 1000);
  //let x = 100;
  let y = [];
  for (let i = 0; i < 1000; i++) {
      temp = i
      //y_temp =temp**3 + 2*temp**2 + 3*temp + 4 
      y_temp = Math.sin(Math.PI * (i/x));
      y.push(int(y_temp*1000) +offset); 
  }
  return y
}

function add_blur(y_start){
  let v = 1.0 / 999.0;
  let offset = R.random_int(50,500);
// kernel is the 3x3 matrix of normalized values
let kernel = [[ v, v, v ], [ v, v, v ], [ v, v, v ]];


  for (let x = 1; x < 1000; x++) {
    for (let y = y_start[x]; y < y_start[x]+offset&&y<1501; y++) {
      let sum = 0; 
      for (kx = -1; kx <= 1; kx++) {
        for (ky = -1; ky <= 1; ky++) {
          let xpos = x + kx;
          let ypos = y + ky;
          
          let val = img.get(ypos, xpos);
          //console.log(val);

          sum += kernel[kx+1][ky+1] * val;
        }
      }
  
  
      // set the value of the edgeImg pixel to the kernel sum
      //console.log(sum);
      let val = img.get(y, x);
      //img.set(y,x, color(changeHue([val[0],val[1],val[2]], offset/0.2)));
      //img.set(x, y, color(255,255,255));
    }
  }
}

function placeParticles() {


  let offset = R.random_int(50,500);
  let line_size = R.random_int(1, 20);    
  let split_list = R.random_int(2, 5);
  let y_start = get_y_value();
  console.log(y_start);
  //let line_size = 7;
  let r_start = 0;
  let r_end = 0;
  for(let i=0;i<img.height;i++){
  //r_start = R.random_num(200, 500);
  //r_end = R.random_num(600, 1300);
  let depth = R.random_int(0, 7);
    //r = R.random_num(R.random_num(0,100),255);
    //g = R.random_num(R.random_num(0,100),255);
    //b = R.random_num(R.random_num(0,100),120);   
    if (i % line_size == 0){
      r = R.random_num(R.random_num(0,255),R.random_num(0,255));
      g = R.random_num(R.random_num(0,255),R.random_num(0,255));
      b = R.random_num(R.random_num(0,255),R.random_num(0,255));
      r_start = R.random_num(200, 500);
      r_end = R.random_num(600, 1300);
    }   
    img.set(0, i, color(r,g,b));
    let v = createVector(0, i);
    particles.push(new Particle(0,i, color(r,g,b), v))
    for(let j=1;j<img.width;j++){

        if ( j >= y_start[i] && j <= y_start[i]+offset){

          
          //img.set(j, i, color(changeHue([r,g,b], j/3.0/40)));
          //if(j< y_start[i]+10){
          //img.set(j, i, color(changeHue([r,g,b], j/3.0)));
          img.set(j, i, color(changeHue([r,g,b], offset/0.2)));
          //img.set(j, i, color(255,255,255));
        //}
          //else if(j< y_start[i]+40){
          //img.set(j, i, color(changeHue([r,g,b], j/3.0/40)));
          //console.log(j/3.0)
          //img.set(j, i, color(255,255,255));
          //}
          //else{

          //img.set(j, i, color(changeHue([r,g,b], j/3.0)));
          //img.set(j, i, color(0,0,0));
          //img.set(j, i, color(changeHue([r,g,b], j/3.0/50)));
          //}
          //for(let k=10;k<40;k++){
          //img.set(j, i, color(changeHue([r,g,b], j/3.0/k)));
          //}
          //if(j<y_start[i]+100 || j > y_start[i] +50 )
          //{
            //img.set(j, i, color(255,255,255));
          //img.set(j, i, color(r,g,b));
            //img.set(j, i, color(changeHue([r,g,b], 360)));
          //console.log(j)
          //}
          //else{

          //img.set(j, i, color(255,255,255));
          //img.set(j, i, color(changeHue([r,g,b], 0.1)));
          //}
        }
        else{

          img.set(j, i, color(changeHue([r,g,b], j/3.0)));

        }


      if (j % res == 0){
      let v = createVector(j, i);
      particles.push(new Particle(j, i, changeHue([r,g,b],j/3.0), v))
      }
    }
  }
  img.updatePixels();
  //add_blur(y_start);
  //img.updatePixels();
  //imageMode(CENTER);
  image(img,0,0);

}

class Particle {
  constructor(x, y, c, v) {
    this.x = x;
    this.y = y;
    
    this.c = c;
    
    this.homeX = x;
    this.homeY = y;

    this.v = v;
    this.log = [] ;
  }
  

  draw() {

    //stroke(this.c,50)
    let p = this.v
    //background(0,5);
    //fill(0);
    //point(p.x, p.y);
    if (draw_count <= max_count / 2){
      n = noise(p.x * noise_value, p.y * noise_value, frameCount * noise_value);
      this.log.push(n)
      let a = TAU * n;
      p.y += sin(a);
      p.x += cos(a);
      stroke(this.c,50);
      point(p.x, p.y); }
    else{ 
      n = this.log.pop();
      let a = TAU * n;
      p.x -= cos(a);
      p.y -= sin(a);  
      //colorMode(HSL);
      //stroke([255-this.c[0],255-this.c[1],255-this.c[2],255],0);
      //stroke(changeHue(this.c,55));
      stroke(this.c,50);
      //console.log(this.c);
      point(p.x, p.y); }
    

  }
}


        </script>
    </main>
  </body>
</html>